/* font-family: "Raleway", sans-serif;
font-family: "Roboto", sans-serif; */

body {
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
    background-color: #FFFFFF;
}
ol, ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
/* logo, nav, address */
.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-name {
    color: #2e2f42; 
}
.link-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42; 
}
.link-nav:hover,
.link-nav:focus,
.link-contacts:hover,
.link-contacts:focus {
    color: #404bbf;
}
.address {
  font-style: normal;  
}
.link-contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* section 1*/
.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 600px;
    background-color: #2e2f42;
}
.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.button {
    background-color: #4d5ae5;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
.title-benefits, .title-hero, .title-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.title-benefits-name, .title-hero-name, .title-portfolio-name  {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.text-benefits, .text-hero, .text-portfolio, .text-footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* footer, logo */
.footer {
    background-color: #2e2f42;
}
.footer-container {
    width: 1440px;
    height: 312px;   
}
.footer-logo-name, .text-footer {
    color: #f4f4fd;
}